[submodule "Engine/Libraries/spdlog"]
	path = Engine/Libraries/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/Libraries/glm"]
	path = Engine/Libraries/glm
	url = https://github.com/g-truc/glm
